<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SportTest.Properties.Settings.Kursach_sportConnectionString"
            connectionString="Data Source=PK;Initial Catalog=Kursach_sport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SportTest.Properties.Settings.Kursach_sportConnectionString1"
            connectionString="Data Source=HOST00-00;Initial Catalog=Kursach_sport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>